/**
 * Buttons
 */

$button--selector: selector(new 'btn' with $button--syntax);

@include statement($button--selector,(
  ('@include button-background-color--mixin', $button--background-color),
  ('display', $button--display),
  ('color', $button--color),
  ('font-family', $button--font-family),
  ('font-weight', $button--font-weight),
  ('font-size', $button--font-size),
  ('line-height', $button--line-height),
  ('margin', $button--margin),
  ('text-align', $button--text-align),
  ('vertical-align', $button--vertical-align),
  ('touch-action', manipulation),
  ('cursor', $button--cursor),
  ('cursor', not-allowed, ('[disabled="true"')),
  ('background-image', none), // Reset unusual Firefox-on-Android default style, see https://github.com/necolas/normalize.css/issues/214
  ('user-select', none),
  ('white-space', nowrap),
  ('border-radius', $button--border-radius),
  ('text-decoration', $button--text-decoration),
  ('text-transform', $button--text-transform),
  ('letter-spacing', $button--letter-spacing),
  ('padding', $button--padding),
  ('box-shadow', $button--box-shadow),
  ('transition', $button--transition),
  ('border-width', $button--border-width),
  ('border-style', $button--border-style),
  ('border-color', $button--border-color),
  ('float', $button--float),
  ('width', $button--width),
  ('height', $button--height),
  ('opacity', $button--opacity),
  ('cursor', default),
  ('cursor', pointer, ('<button')),
));

#{print_statement($button--syntax)} svg {
  vertical-align: middle;
}


$button-group--selector: selector(new 'btn-group' with $button--syntax);

@include statement($button-group--selector,(
  ('display', flex),
  ('justify-content', $buttongroup--justify-content),
));


$button-inside-group--selector: selector(append $button--selector parent $button-group--selector as '>');

@include statement($button-inside-group--selector,(
  ('position', relative),
  ('z-index', 2, (':hover')),
  ('z-index', 2, (':active')),
  ('z-index', 2, (':focus')),
  ('border-top-left-radius', 0, ':not(:first-child)'),
  ('border-bottom-left-radius', 0, ':not(:first-child)'),
  ('border-top-right-radius', 0, ':not(:last-child)'),
  ('border-bottom-right-radius', 0, ':not(:last-child)'),
  ('flex-grow', $buttongroup-item--flex-grow),
));


$button-inside-group-not-first--selector: selector(append $button--selector parent $button-inside-group--selector as '+');

@include statement($button-inside-group-not-first--selector,(
  ('@include btn-group-margin-x--mixin', $button--border-width),
));
