// Synthax
$button--prefix: 'c' !default;
$button--synthax: (
  'prefix': $button--prefix,
  'separator': (
    'prefix': '-',
    'element': '__',
    'modifier': '--',
  ),
);
$button--display: (
  'default': inline-block,
  '-block': block,
) !default;
$button--color: (
  'default': rgb(31, 13, 51),
  '-primary': rgb(255, 255, 255),
  '-success': rgb(255, 255, 255),
  '-danger': rgb(255, 255, 255),
  '-warning': rgb(255, 255, 255),
) !default;
$button--font-family: null !default;
$button--font-weight: null !default;
$button--font-size: (
  'default': 1rem,
  '-lg': 1.2rem,
  '-sm': 0.8rem,
  '-xs': 0.65rem,
) !default;
$button--float: null !default;
$button--line-height: 1.2em !default;
$button--text-align: center !default;
$button--margin: null !default;
$button--vertical-align: middle !default;
$button--cursor: (
  '[disabled="true"': not-allowed,
  '-disabled': not-allowed !important,
) !default;
$button--border-radius: 0.2em !default;
$button--border-width: 0.0625em !default;
$button--border-style: solid !default;
$button--border-color: (
  'default': currentColor,
  '-primary': transparent,
  '-success': transparent,
  '-warning': transparent,
  '-danger': transparent,
) !default;
$button--background-color: (
  'default': (
    'default': rgb(255, 255, 255),
    ':hover': darken(rgb(255, 255, 255), 10%),
    ':active': darken(rgb(255, 255, 255), 10%),
    ':focus': darken(rgb(255, 255, 255), 10%),
    '[disabled="true"': rgb(255, 255, 255) !important,
    '-disabled': rgb(255, 255, 255) !important,
  ),
  '-primary': (
    'default': rgb(31, 13, 51),
    ':hover': darken(rgb(31, 13, 51), 10%),
    ':active': darken(rgb(31, 13, 51), 10%),
    ':focus': darken(rgb(31, 13, 51), 10%),
    '[disabled="true"': rgb(31, 13, 51) !important,
    '-disabled': rgb(31, 13, 51) !important,
  ),
  '-success': (
    'default': rgb(55, 211, 189),
    ':hover': darken(rgb(55, 211, 189), 10%),
    ':active': darken(rgb(55, 211, 189), 10%),
    ':focus': darken(rgb(55, 211, 189), 10%),
    '[disabled="true"': rgb(55, 211, 189) !important,
    '-disabled': rgb(55, 211, 189) !important,
  ),
  '-warning': (
    'default': rgb(255, 176, 0),
    ':hover': darken(rgb(255, 176, 0), 10%),
    ':active': darken(rgb(255, 176, 0), 10%),
    ':focus': darken(rgb(255, 176, 0), 10%),
    '[disabled="true"': rgb(255, 176, 0) !important,
    '-disabled': rgb(255, 176, 0) !important,
  ),
  '-danger': (
    'default': rgb(253, 65, 100),
    ':hover': darken(rgb(253, 65, 100), 10%),
    ':active': darken(rgb(253, 65, 100), 10%),
    ':focus': darken(rgb(253, 65, 100), 10%),
    '[disabled="true"': rgb(253, 65, 100) !important,
    '-disabled': rgb(253, 65, 100) !important,
  ),
);
$button--text-decoration: (
  '-link': (
    ':hover': underline,
  )
) !default;
$button--text-transform: null !default;
$button--letter-spacing: null !default;
$button--padding: (
  'default': 0.666666667em 1.666666667em,
  '-xs': 0.666666667em 1.333333337em,
) !default;
$button--box-shadow: null !default;
$button--transition: null !default;
$button--width: (
  '-block': 100%,
) !default;
$button--opacity: (
  '[disabled="true"': 0.5,
  '-disabled': 0.5,
) !default;
