// scss-lint:disable ColorVariable

$button--vertical-align: middle !default;
$button--float: null !default;
$button--display: (
  'default': inline-block,
  '-block': block,
) !default;
$button--border-width: trwl-theme('border-width') !default;
$button--padding: trwl-theme('padding-y') trwl-theme('padding-x') !default;
$button--width: (
  '-block': 100%,
) !default;
$button--margin: null !default;
$button--height: null !default;
$button--color: (
  'default': trwl-theme-color('primary'),
  '-primary': rgb(255, 255, 255),
  '-success': rgb(255, 255, 255),
  '-warning': rgb(255, 255, 255),
  '-danger': rgb(255, 255, 255),
) !default;
$button--border-color: (
  'default': currentColor,
  '-primary': transparent,
  '-success': transparent,
  '-warning': transparent,
  '-danger': transparent,
  '-link': transparent,
) !default;
$button--background-color: (
  'default': (
    'default': rgb(255, 255, 255) darken(rgb(255, 255, 255), 10%),
    '[disabled="true"': rgb(255, 255, 255) rgb(255, 255, 255),
  ),
  '-primary': (
    'default': rgb(31, 13, 51) darken(rgb(31, 13, 51), 10%),
    '[disabled="true"': rgb(31, 13, 51) rgb(31, 13, 51),
  ),
  '-success': (
    'default': rgb(55, 211, 189) darken(rgb(55, 211, 189), 10%),
    '[disabled="true"': rgb(55, 211, 189) rgb(55, 211, 189),
  ),
  '-warning': (
    'default': rgb(255, 176, 0) darken(rgb(255, 176, 0), 10%),
    '[disabled="true"': rgb(255, 176, 0) rgb(255, 176, 0),
  ),
  '-danger': (
    'default': rgb(253, 65, 100) darken(rgb(253, 65, 100), 10%),
    '[disabled="true"': rgb(253, 65, 100) rgb(253, 65, 100),
  ),
  '-link': (
    'default': (transparent, transparent),
  )
) !default;
$button--opacity: (
  '[disabled="true"': 0.5,
) !default;
$button--font-size: (
  'default': trwl-theme-size('md'),
  '-lg': trwl-theme-size('lg'),
  '-sm': trwl-theme-size('sm'),
  '-xs': trwl-theme-size('xs'),
) !default;
$button--text-decoration: (
  'default': none,
  '-link': (
    ':hover': (
      'default': underline,
      '[disabled="true"': none,
    ),
  )
) !default;
$button--line-height: trwl-theme('line-height') !default;
$button--text-align: center !default;
$button--font-family: trwl-theme-size('font-family') !default;
$button--font-weight: null !default;
$button--text-transform: null !default;
$button--letter-spacing: null !default;
$button--border-radius: trwl-theme('border-radius') !default;
$button--border-style: trwl-theme('border-style') !default;
$button--box-shadow: null !default;
$button--transition: null !default;
$button--cursor: null !default;


// btn group
$buttongroup--justify-content: null !default;
$buttongroup-item--flex-grow: null !default;
