// positioning
$button--float:            null !default;
$button--vertical-align:   null !default;

// display & box-model
$button--display:          null !default;
$button--border-width:     null !default;
$button--padding:          null !default;
$button--margin:           null !default;
$button--width:            null !default;
$button--height:           null !default;

// color
$button--color:            null !default;
$button--border-color:     null !default;
$button--background-color: null !default;
$button--opacity:          null !default;

// text
$button--font-size:        null !default;
$button--line-height:      null !default;
$button--text-align:       null !default;
$button--text-decoration:  null !default;
$button--font-family:      null !default;
$button--font-weight:      null !default;
$button--text-transform:   null !default;
$button--letter-spacing:   null !default;

// order
$button--border-radius:    null !default;
$button--border-style:     null !default;
$button--box-shadow:       null !default;
$button--transition:       null !default;
$button--cursor:           null !default;
